body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.product{
  overflow: hidden;
}
.product .card-img-top:hover{
  transform: scale(1.2);
  transition: all .3s ease-in-out;
}
.ProductDetailsBtns button{
  border: 1px solid black;
  background-color: white;
}
.ProductDetailsBtns button:hover{
  color: orange;
}
.product button{
  border: 1px solid black;
  background-color: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  outline: none;
}
.product button:hover{
  background-color:white;
  color: orange;
}
.cart-item img{
  width: 50% !important;
  height: 100%;
  display: block;
}
.cart-item i{
  font-size: 22px;
  font-style: normal;
}
.cart-item i:hover{
  cursor: pointer;
  color: orange;
  transition: all 0.3s ease-in-out;
}
.cart-item .danger:hover{
  color: red;
}
.cart-item p{
  display: inline;
  font-size: 17px;
  text-transform: uppercase;
  font-style: normal;
}
.cart-item hr{
  background-color: black;
  border-width: 10px;
}
@media(max-width:768px){
  .cart-upper h3{
    font-size:17px ;
  }
  .cart-item i{
    font-size: 14px;
    display: block;

  }
  .cart-item img{
    width: 125%;
  }
}

.modal-container{
  background-color: rgba(0, 0, 0, 0.4);
  position:fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
}
.modal{
  background-color: white;
  display:block;
  position: relative;
  width: 30%;
}
.modal span{
  display: block;
}
.modal img{
  width: 100%;
}
.modal a{
  color: white;
  text-decoration: none;
}
@media(max-width:730px){
  .cart-footer-bottom ul{
    justify-content: center !important;
  }
  .fs{
    font-size: 20px  !important;
  }
}
